body {
    width: 100%;
    height: 100%;
}
body, ul, li, input {
  margin: 0;
  padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #535353;
    font-size: 15px;
}
a:hover {
    color: #41c571;
}
.header {
    width:100%;
    position: absolute;
    margin: auto;
    background: white;
    z-index: 2;
}
.header .title {
    max-width: 1300px;
    display: flex;
    margin: auto;
}
.header .nav_one>li {
    display: flex;
    text-align: center;
}
.header .nav_one a {
    width:100%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    flex: 1;
    padding: 10px;
}
.logo img {
    width:128px;
    height: 28px;
}

.nav_one {
    flex: 2;
    display: flex;
    justify-content: center;
}
.nav_one li {
    flex: 1 1 150px;
    position: relative;
    justify-content: center;
}
.nav_two {
    flex: 1;
    justify-content: flex-end;
}
.nav_two li {
    flex: 0 1 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.header .nav_two li:nth-child(1) a {
    color: #acacac;
    font-size: 12px;
}
.header .nav_two li:nth-child(2) a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.fa-phone {
    color: #41c571;
}
.checkbox {
    width:40px;
    height: 44px;
    top: 10px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
}
.box {
    color: #666;
    display: none;
    font-size: 26px;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 43px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    line-height: 43px;
    border: 1px solid #ccc;
}
.checkbox:checked~.nav {
    display: flex;
}


.lagre {
    /*width: 100%;*/
    position: relative;
    top:60px;
}
.line {
    width: 100%;
    margin: auto;
    background-color: #f7f8fd;
}
.line ul {
    display: flex;
    justify-content: center;
}
.line ul li {
    cursor: pointer;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    
}
.wrap {
    max-width: 1300px;
    margin: auto;
}
content {
    max-width: 1300px;
    margin: auto;
}
.lineone {
    display: flex;
    justify-content: space-between;
    margin-right: 180px;
    flex-wrap: wrap;
}
.lineone .nav {
    display: flex;
    height: 40px;
    align-items: center;
}
.nav.three li {
    margin-right: 15px;
}
.nav.four li {
    margin-left: 15px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.publics {
    flex: 1;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #666;
    background-color: #efefef;
    margin-right: 15px;
    flex-wrap: wrap;
}
.publics>div {
    flex-basis: 25%;
}
.public {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.public img {
    width: 120px;
    height: 140px;
    background-size: cover;
    cursor: pointer;
    transition: .3s;
}
.public img:hover {
    transform: translate3d(0,-2px,0);
    box-shadow: 0 0 40px #abacac;
}
.public p {
    color: #535353;
    font-size: 15px;
    margin: 0px;
}

.aside section h4,aside section p {
    color: #535353;
}
.aside section {
    margin: 50px 0;
}
.aside section p {
    margin: 15px 0;
}
.aside .fa {
    font-size: 30px;
}
.aside ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.fa-facebook-official {
    color: #497990;
}
.fa-twitter-square {
    color: #66B1CE;
}
.fa-google-plus-square {
    color: #953728;
}
.cbox:checked {
    -webkit-appearance: none;
    background: #41c571;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.bottom {
    background-color: #f7f8fd;
    height: 100px;
    margin-top:100px;
}

@media(max-width:810px) {
    .nav {
        display: none;
    }
    .box {
        display: block;
    }
    .nav_one li a {
        height: 60px;
    }
    .nav_one li a:hover {
        background-color: #ccc;
    }
    .header .title {
        flex-wrap: wrap;
    }
    .nav_one {
        flex-wrap: wrap;
    }
    .nav_one li {
        flex-basis: 100%;
    }
    .logo,.nav_one,.nav_two {
        flex-basis: 100%;
    }
    .nav_two li {
        flex: 1;
    }
    .publics {
        flex-wrap: wrap;
    }
    .publicfour {
        order: -1;
    }
    .line ul {
        flex-wrap: wrap;
    }
    .line ul li {
        flex-basis: 33.33%;
    }
}

